.app-title {
  text-align: center;
  margin: 16px 0;
}

.auth-wrapper {
  margin: 16px auto;
  width: 40rem;
  .auth-tabs {
    display: flex;
    a {
      flex: 1;
      background-color: whitesmoke;
      text-align: center;
      padding: 16px;
      &:hover {
        background-color: lightgray;
      }
    }
    .active {
      background-image: linear-gradient(whitesmoke, #CAE2EF);
      border-bottom: 3px solid lightblue;
    }
  }
  .auth-tab-wrapper {
    border-radius: 0 0 5px 5px;
    border: 2px solid whitesmoke;
    border-top: none;
    padding: 16px;
  }
}