.user-id {
  margin-right: 16px;
}

.main_wrapper {
  margin: 16px auto;
  width:45rem;
  .accordion-header-text {
    min-width: 25%;
  }
  .next-dispo {
    margin-left: 16px;
  }
  .heures {
    button {
      margin: 4px;
    }
  }
}